<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>公告</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script th:src="@{/jquery/jquery-3.3.1.js}"></script>
    <!-- layer 依赖jquery -->
    <script th:src="@{/layer-v3.1.1/layer/layer.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.all.js}"></script>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/notice.css}">

    <script defer th:src="@{/js/common.js}"></script>

</head>

<body>
    <!-- 导航栏 -->
    <div th:replace="~{/nav/main_nav :: main_nav (current='notice')}"></div>
    <!-- 整个内容区 -->
    <div class="layui-container" style="width:1200px;">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md12">
                <div id="content">
                    <fieldset class="layui-elem-field">
                        <legend>系统公告</legend>
                        <div class="layui-field-box" id="contentMsg">
                            这是一个公告...
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{/search/search :: search_input}"></div>
    <script>

        noticeRender();
        //
        function noticeRender() {

            fetch("/notice/1"
                , {

                    method: "get"

                }).then((response) => {

                response.json().then((data) => {

                    console.log(data);

                    contentMsg.innerHTML = data["content"];

                });
            });

        }

    </script>

</body>

</html>