<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.Dao.StickDao">

    <resultMap id="stickMap" type="Stick">
        <id property="id" column="id"/>
        <result property="aid" column="aid"/>
        <result property="uid" column="uid"/>
        <result property="time" column="time"/>

        <association property="article" javaType="Article">

            <id property="id" column="aid"/>

            <result property="title" column="title"/>

            <result property="commentNumber" column="commentNumber"/>

            <result property="pointsNumber" column="pointsNumber"/>

            <result property="createtime" column="createtime"/>

            <association property="category" javaType="Category">

                <result property="name" column="name"/>

            </association>

        </association>

        <association property="user" javaType="User" >

            <id property="id" column="aid"/>

            <result property="username" column="username"/>

            <result property="headerImg" column="headerImg"/>

        </association>

    </resultMap>

    <select id="selectAllStickArticle" resultMap="stickMap">
       SELECT t.id as id,a.title,a.createtime,a.pointsNumber,a.commentNumber,t.time,c.`name`,
       u.username,u.headerImg,u.id as uid,a.id as aid
       from article a,`user` u,top t,category c
       where u.id =t.uid and a.id = t.aid and c.id = a.cid ORDER BY t.time desc
    </select>

</mapper>