<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- 导航栏 -->
<div th:fragment="backstagenav" id="nav" style="background-color: #393D49;">
    <div style="background-color: #393D49;">
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item" style="font-size:18px;"><a href="/">网上论坛</a></li>
            <li class="layui-nav-item pull-right">
                <a href="">
                    <img th:src=" ${session.user} ? ${session.user.headerImg} : '/Image/admin.jpg' " class="layui-nav-img">
                    [[${session.user} ? ${session.user.username} : 'admin']]
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">在线状态</a></dd>
                    <dd><a href="/">回主页面</a></dd>
                    <dd><a onclick="loginOut()">登出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

</body>
</html>