<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--nav one-->
<div th:fragment="main_nav_one" id="nav" style="background-color: #393d49;">
    <div class="layui-container" style="width:1300px;">
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item" style="font-size:18px;"><a>网上论坛</a></li>

            <li th:if="${session.user == null}" class="layui-nav-item pull-right">
                <a href="/register">注册</a>
            </li>
            <li th:if="${session.user == null}" class="layui-nav-item pull-right">
                <a href="/login">登录<span class="layui-badge-dot layui-bg-orange"></span></a>
            </li>

            <li th:if="${session.user != null}" class="layui-nav-item pull-right">
                <a th:if="${session.user.username == 'admin'}" th:href="@{/admin/}">个人中心<span class="layui-badge-dot"></span></a>
                <a th:if="${session.user.username != 'admin'}" th:href="@{/user/}">个人中心<span class="layui-badge-dot"></span></a>
            </li>
            <li th:if="${session.user != null}" class="layui-nav-item pull-right">
                <a href="">
                    <img th:src="${session.user.headerImg}" class="layui-nav-img">[[${session.user.username}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:void(0);">在线状态</a></dd>
                    <dd><a href="javascript:void(0);" onclick="loginOut()">登出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<!--nav two-->
<div th:fragment="main_nav_two (current)" id="main_nav_two" style="background-color:#FFFFFF;">
    <div class="layui-container" style="width:1300px;">
        <ul class="layui-nav" id="main_nav_two_ul" lay-filter="" style="background-color: #FFFFFF;">
            <li th:class="${current == 'index' ? 'layui-nav-item layui-this' : 'layui-nav-item'}"><a href="/">首页</a></li>
            <li th:class="${current == 'front-dev' ? 'layui-nav-item layui-this' : 'layui-nav-item'}"><a
                    href="/front">前端开发</a></li>
            <li th:class="${current == 'backend-dev' ? 'layui-nav-item layui-this' : 'layui-nav-item'}">
                <a href="/backed">后端开发</a></li>
            <li th:class="${current == 'game-dev' ? 'layui-nav-item layui-this' : 'layui-nav-item'}">
                <a href="/game">游戏开发</a>
            </li>
            <li th:class="${current == 'ai-dev' ? 'layui-nav-item layui-this' : 'layui-nav-item'}">
                <a href="/ai">人工智能</a>
            </li>
            <li th:class="${current == 'notice' ? 'layui-nav-item layui-this' : 'layui-nav-item'}">
                <a href="/notice">公告</a></li>

            <li class="search-item pull-right search">
                <form id="searchForm" class="layui-form" style="height:38px;" action="">
                    <div class="layui-form-item">
                        <div class="layui-input-block search-margin">
                            <input id="search" type="text" name="searchKey" placeholder="请输入搜索内容" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                </form>
                <a id="searchBtn" onclick="goSearch(searchForm)" class="layui-btn pull-right">搜索</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>