<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>admin管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script th:src="@{/jquery/jquery-3.3.1.js}"></script>
    <!-- layer 依赖jquery -->
    <script th:src="@{/layer-v3.1.1/layer/layer.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}"></script>

    <link rel="stylesheet" th:href="@{/css/Backstage/admin.css}">
    <link rel="stylesheet" th:href="@{/css/Backstage/common.css}">

    <script th:src="@{/js/common.js}"></script>

</head>

<body>
<!-- nav 导航栏 -->
<div th:replace="/nav/backstagenav :: backstagenav"></div>
<!-- 导航栏 -->

<div class="container">
    <div class="container-left pull-left">
        <div th:replace="/nav/container_left :: left (item='article_make')"></div>
    </div>
    <div class="container-right pull-left">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">文章管理&nbsp;<i class="layui-icon"></i></li>
            </ul>
            <div class="layui-tab-content page_two">
                <!-- page 3 文章管理-->
                <div class="layui-tab-item layui-show">
                    <div class="content">

                        <form class="layui-form layui-form-pane" action="">
                            <div class="layui-inline">
                                <label class="layui-form-label">搜索</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="title" required="" lay-verify="required"
                                           placeholder="请输入文章标题"
                                           autocomplete="off" class="layui-input serach">
                                </div>
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <button class="layui-btn" lay-submit="" lay-filter="myArticleSearch">搜索</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="layui-btn-group pull-right">
                            <button onclick="deleteArticle()" class="layui-btn layui-btn-radius layui-btn-normal">删除
                            </button>
                        </div>

                        <table id="myArticle" class="layui-table" lay-size="sm">
                            <thead>
                            <tr class="text-center">
                                <th>id</th>
                                <th>文章标题</th>
                                <th>创建时间</th>
                                <th>获赞数</th>
                                <th>浏览量</th>
                                <th>作者</th>
                                <th>类别</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="myArticleTbody">

                            </tbody>
                        </table>

                        <div class="pageGroup">
                            <div class="page-info">
                                <span id="myArticleCurrentPage"></span>
                                <span id="myArticleCountPage"></span>
                                <span id="myArticlePageSize"></span>
                            </div>
                            <div id="myArticleBtnGroup" class="layui-btn-group pull-right">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--我的文章 form-->
<form action="" hidden="hidden" id="myArticleForm">
    <input type="text" name="pageSize" value="5"/>
    <input type="text" name="currentPage" value="1"/>
    <input type="text" name="countPage" value="0">
</form>

<script>

    function dateConvert(date) {
        return date.match(/(\d+-\d+-\d+)/)[0];
    }

    // window.onload = function () {

    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use(['element', 'form'], function () {

        var element = layui.element;
        element.render('nav')
        var form = layui.form;

        form.on("submit(myArticleSearch)", function (data) {

            let form = data.form;

            myArticleSearch(form);

            return false;

        });
    });

    // 删除文章
    function deleteArticle() {

        let checkArr = Array.prototype.slice.call(document.querySelectorAll("input[type=checkbox]"));

        let delArr = [];

        for (let item of checkArr) {

            if (item.checked) {
                delArr.push(item.value);
            }
        }

        if (delArr.length) {

            layer.confirm('确定要删除选中的文章吗？此操作会删除文章下的评论等!', {
                icon: 3,
                btn: ['取消', '确定'] //按钮
            }, function () {

                layer.msg('已取消!', {
                    time: 1000
                });
            }, function () {

                fetch("/article/del?delArr=" + delArr, {
                    method: "delete"
                }).then((response) => {

                    response.json().then((data) => {

                        console.log(data);

                        if (data.flage) {

                            layer.msg('删除成功!', {icon: 1, time: 2000});
                        } else {
                            layer.msg('删除失败!', {icon: 2, time: 2000});
                        }

                        myArticle();
                    });

                });
            })
        }
    }

    function delArticle(uid, aid) {

        layer.confirm('确定要删除选中的文章吗？此操作会删除文章下的评论等!', {
            icon: 3,
            btn: ['取消', '确定'] //按钮
        }, function () {

            layer.msg('已取消!', {
                time: 1000
            });
        }, function () {

            fetch("/article/del?delArr=" + [aid], {

                method: "delete",

            }).then((response) => {

                response.json().then((data) => {

                    console.log(data);

                    if (data.flage) {

                        layer.msg('删除成功!', {icon: 1, time: 2000});
                    } else {
                        layer.msg('删除失败!', {icon: 2, time: 2000});
                    }

                    myArticle();
                });

            });
        });

    }


    <!-- page 2 我的文章数据接口-->
    myArticle();

    function myArticle() {
        fetch(`/admin/articles?currentPage=${myArticleForm["currentPage"].value}
                &pageSize=${myArticleForm["pageSize"].value}`, {
            method: "get"
        }).then((response) => {

            response.json().then((data) => {

                console.log(data);

                let template = "";

                myArticleCurrentPage.innerHTML = "当前第" + data["currentPage"] + "页";
                myArticleCountPage.innerHTML = "共" + data["countPage"] + "页";
                myArticlePageSize.innerHTML = "每页" + data["pageSize"] + "条";

                for (let item of data["list"]) {

                    let time = dateConvert(item["createtime"]);
                    let status = item["status"] == "1" ? "审核通过" : "审核失败";
                    let hot = item["hotStatus"] == "0" ? "/Image/热门_0.png" : "/Image/热门_1.png";
                    let top = item["topStatus"] == "0" ? "/Image/置顶_0.png" : "/Image/置顶_1.png";

                    // let hotlink = item["hotStatus"] == "0" ?
                    //     `/hot/add?aid=${item["id"]}&uid=${item["uid"]}` :
                    //     `/hot/del?aid=${item["id"]}&uid=${item["uid"]}`;

                    let hotFun = item["hotStatus"] == "0" ? 'addHot' : 'delHot';
                    let topFun = item["topStatus"] == "0" ? 'addTop' : 'delTop';


                    let temp = `<tr class="text-center">
                                    <td><input type="checkbox" name="ids" value="${item["id"]}"></td>
                                    <td>${item["title"]}</td>
                                    <td>${time}</td>
                                    <td>${item["pointsNumber"]}</td>
                                    <td>${item["browseNumber"]}</td>
                                    <td>${item["user"]["username"]}</td>
                                    <td>${item["category"]["name"]}</td>
                                    <td style="color: red;">${status}</td>
                                    <td>
                                        <p>
                                            <a onclick="delArticle(${item["uid"]},${item["id"]})">
                                                <img src="/Image/删除.png" width="30px" alt="">
                                            </a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="/user/article/details?uid=${item["uid"]}&aid=${item["id"]}">
                                                <img src="/Image/详情.png" width="30px" alt="">
                                            </a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a onclick="${hotFun}(${item["id"]},${item["uid"]})">
                                                <img src="${hot}" width="30px" alt="">
                                            </a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a onclick="${topFun}(${item["id"]},${item["uid"]})">
                                                <img src="${top}" width="30px" alt="">
                                            </a>
                                        </p>
                                        <p>
                                            <span>删除文章</span>
                                            &nbsp;&nbsp;
                                            <span>文章详情</span>
                                            &nbsp;&nbsp;
                                            <span>推荐热门</span>
                                            &nbsp;&nbsp;
                                            <span>好文置顶</span>
                                        </p>

                                    </td>
                                </tr>`;
                    <!--用户id  文章id-->
                    template += temp;
                }
                myArticleTbody.innerHTML = template;

                navbar("myArticleForm", myArticleBtnGroup, data["currentPage"],
                    data["countPage"], data["pageSize"], "myArticle");
            });
        });
    }

    function myArticleSearch(form) {

        let title = form["title"].value;

        if (title === "all") {
            myArticle();
        } else {

            fetch("/admin/article/search?title=" + title, {
                method: "get"
            }).then((response) => {

                response.json().then((data) => {

                    console.log(data);

                    let template = "";

                    for (let item in data) {

                        let time = dateConvert(data[item]["createtime"]);
                        let status = data[item]["status"] == "1" ? "审核通过" : "审核失败";
                        let hot = data[item]["hotStatus"] == "0" ? "/Image/热门_0.png" : "/Image/热门_1.png";
                        let top = data[item]["topStatus"] == "0" ? "/Image/置顶_0.png" : "/Image/置顶_1.png";

                        // let hotlink = data[item]["hotStatus"] == "0" ?
                        //     `/hot/add?aid=${data[item]["id"]}&uid=${data[item]["uid"]}` :
                        //     `/hot/del?aid=${data[item]["id"]}&uid=${data[item]["uid"]}`;
                        //              文章id                    用户id

                        let hotFun = data[item]["hotStatus"] == "0" ? 'addHot' : 'delHot';
                        let topFun = data[item]["topStatus"] == "0" ? 'addTop' : 'delTop';


                        let temp = `<tr class="text-center">
                                    <td>${data[item]["id"]}</td>
                                    <td>${data[item]["title"]}</td>
                                    <td>${time}</td>
                                    <td>${data[item]["pointsNumber"]}</td>
                                    <td>${data[item]["browseNumber"]}</td>
                                    <td>${data[item]["user"]["username"]}</td>
                                    <td>${data[item]["category"]["name"]}</td>
                                    <td style="color: red;">${status}</td>
                                    <td>
                                        <p>
                                            <a onclick="delArticle(${item["uid"]},${item["id"]})">
                                                <img src="/Image/删除.png" width="30px" alt="">
                                            </a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="/user/article/details?uid=${data[item]["uid"]}&aid=${data[item]["id"]}">
                                                <img src="/Image/详情.png" width="30px" alt="">
                                            </a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a onclick="${hotFun}(${data[item]["id"]},${data[item]["uid"]})">
                                                <img src="${hot}" width="30px" alt="">
                                            </a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a onclick="${topFun}(${data[item]["id"]},${data[item]["uid"]})">
                                                <img src="${top}" width="30px" alt="">
                                            </a>
                                        </p>
                                        <p>
                                            <span>删除文章</span>
                                            &nbsp;&nbsp;
                                            <span>文章详情</span>
                                            &nbsp;&nbsp;
                                            <span>推荐热门</span>
                                            &nbsp;&nbsp;
                                            <span>好文置顶</span>
                                        </p>
                                    </td>
                                </tr>`;
                        <!--用户id  文章id-->
                        template += temp;
                    }

                    myArticleTbody.innerHTML = template;
                });

            });

        }

    }

    function delHot(aid, uid) {

        console.log(uid, aid);

        fetch("/hot/del?uid=" + uid + "&aid=" + aid, {

            method: "delete"

        }).then((response) => {

            response.json().then((data) => {

                if (data.flage) {
                    // 取消 热门推荐
                    fetch("/article/hot/update", {
                        method: "post",
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded"
                        },
                        body: "aid=" + aid + "&hotStatus=0"
                    }).then((data) => {

                        data.json().then((data) => {

                            if (data.flage) {

                                myArticle();

                                layer.msg("已取消为热门!", {
                                    time: 1000
                                });
                            }

                        });
                    });

                }

            });
        });
    }

    function addHot(aid, uid) {

        console.log(uid, aid);

        fetch("/hot/add?uid=" + uid + "&aid=" + aid, {

            method: "put"

        }).then((response) => {

            response.json().then((data) => {

                if (data.flage) {
                    //  推荐为热门
                    fetch("/article/hot/update", {
                        method: "post",
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded"
                        },
                        body: "aid=" + aid + "&hotStatus=1"
                    }).then((data) => {

                        data.json().then((data) => {

                            if (data.flage) {

                                myArticle();

                                layer.msg("热门推荐成功!", {
                                    time: 1000
                                });
                            }

                        });
                    });

                }

                console.log(data);

            });
        });
    }

    function addTop(aid, uid) {

        console.log(uid, aid);

        fetch("/top/add?uid=" + uid + "&aid=" + aid, {

            method: "put"

        }).then((response) => {

            response.json().then((data) => {

                if (data.flage) {
                    //  推荐为置顶文章
                    fetch("/article/top/update", {

                        method: "post",

                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded"
                        },

                        body: "aid=" + aid + "&topStatus=1"

                    }).then((data) => {

                        data.json().then((data) => {

                            if (data.flage) {

                                myArticle();

                                layer.msg("文章置顶成功!", {
                                    time: 1000
                                });
                            }

                        });
                    });

                }

                console.log(data);

            });
        });
    }
    function delTop(aid, uid) {

        console.log(uid, aid);

        fetch("/top/del?uid=" + uid + "&aid=" + aid, {

            method: "delete"

        }).then((response) => {

            response.json().then((data) => {

                if (data.flage) {

                    // 取消 文章置顶
                    fetch("/article/top/update", {

                        method: "post",

                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded"
                        },

                        body: "aid=" + aid + "&topStatus=0"

                    }).then((data) => {

                        data.json().then((data) => {

                            if (data.flage) {

                                myArticle();

                                layer.msg("已取消为推荐文章!", {
                                    time: 1000
                                });
                            }

                        });
                    });
                }
            });
        });
    }

    // 前一页
    function afterBtn(form, fun) {

        let currentPage = form["currentPage"].value;

        if (currentPage == 1) return;

        form["currentPage"].value = (currentPage - '0') - 1;

        fun();

    }

    //后一页
    function beforeBtn(form, fun) {

        let currentPage = form["currentPage"].value;

        if (currentPage == form["countPage"].value) return;

        form["currentPage"].value = (currentPage - '0') + 1;

        fun();
    }

    //              表单      按钮组   当前页     总页数   每页的大小  请求数据的接口函数
    function navbar(form, element, currentPage, countPage, pageSize, fun) {
        //form总页数
        form["countPage"] = countPage;

        let left = `<button class="layui-btn" onclick="afterBtn(${form},${fun})">
                                  <i class="layui-icon layui-icon-left"></i>
                            </button>`;

        let right = `<button class="layui-btn" onclick="beforeBtn(${form},${fun})">
                                  <i class="layui-icon layui-icon-right"></i>
                             </button>`;

        let offset = ~~(pageSize / 2);

        let start = currentPage - offset < 1 ? 1 : currentPage - offset;

        let end = currentPage + offset > countPage ? countPage : currentPage + offset;

        let endoffset = countPage - pageSize - 1;

        end = end < pageSize ? pageSize : end;

        start = start > Math.abs(endoffset) ? Math.abs(endoffset) : start;

        let template = left;

        for (let i = start; i <= end; i++) {

            let temp = `<button onclick="changeValue(${form},${i},${fun})" data-index="${i}" class="layui-btn">${i}</button>`;

            template += temp;
        }

        template += right;

        element.innerHTML = template;
    }

    // 改变form分页的值
    function changeValue(element, currentPage, fun) {

        element["currentPage"].value = currentPage;
        element["pageSize"].value = 5;
        fun();
    }

    // };
</script>
</body>

</html>