<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./../jquery/jquery-3.3.1.js"></script>
    <!-- layer 依赖jquery -->
    <script src="./../layer-v3.1.1/layer/layer.js"></script>
    <link rel="stylesheet" href="./../layui/css/layui.css">
    <script src="./../layui/layui.js"></script>
    <link rel="stylesheet" href="./../css/Backstage/login.css">
    <link rel="stylesheet" href="./../css/Backstage/common.css">
</head>

<body>
    <div id="content">
        <h2 class="text-center">系统后台登录</h2>
        <div class="block">
            <p class="title">
                <img class="title-img" src="./../Image/login_user.png" alt="" srcset="">
            </p>
        </div>
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <!-- <label class="layui-form-label">password:</label> -->
                <div class="password">
                    <input type="password" name="password" required lay-verify="required" placeholder="Password" autocomplete="off"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="login-btn">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="loginForm">Login</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        layui.use(['form','layer'], function(){

            var form = layui.form;
            var layer = layui.layer;

            //监听提交
            form.on('submit(loginForm)', function(data){

                let form = data.form;

                fetch("/admin/login?password="+form["password"].value).then((response)=>{
                    response.json().then((data)=>{
                        //登录成功跳转到admin后台界面
                        layer.msg(data.msg,{
                            time:1000
                        },function () {
                            if (data.flage){
                                window.location.href="/admin/";
                            }
                        });

                    });
                });

                return false;
            });
        });
    </script>

</body>
</html>